@model List<AirQuality.Models.Station>;

@{
    ViewData["Title"] = "Home Page";
}
<div class="intro">
    <div class="row mb-5 mt-5">
        <div class="col">
            <h3 class="text-center mb-3">
                Sprawdź jakość powietrza
            </h3>

            <h5 class="text-center">
                Projekt ten został wykonany w ramach przedmiotu Programowanie w Internecie. 
                Wykorzystana została technologia ASP.NET Core MVC. 
                Kod źródłowy możesz pobrać klikając w przycisk poniżej
            </h5>
            <div class="d-flex justify-content-center">
                <a href="plik.txt" class="btn btn-info btn-lg mt-4">Kod źródłowy</a>
            </div>
        </div>
    </div>
</div>
<div class="stations ml-0 mr-0">
    <h5 class="text-center mb-3 mt-3">
        Wybierz z poniższej listy stację, dla której chcesz sprawdzić jakość powietrza
    </h5>

        <div class="row ml-5 mr-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Gmina</th>
                        <th scope="col">Powiat</th>
                        <th scope="col">Województwo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var station in Model)
                    {
                            <tr>
                                <td>
                                    <a 
                                        asp-controller="Stations" 
                                        asp-action="GetPositions"
                                        asp-route-id="@station.StationId">
                                        @station.StationName
                                        </a>                                        
                                </td>
                                <td>@station.Commune</td>
                                <td>@station.District</td>
                                <td>@station.Province</td>
                                <input type="hidden" asp-for="@station.StationName"/>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
</div>


